/* style.css */

* {
    margin: 0px;
    box-sizing: border-box;
}

header {
    padding: 5px;
    border: 1px solid tomato;
    background-color: aqua;
}

nav {
    padding: 5px;
    border: 1px solid tomato;
    background-color: lightcoral;
}

nav ul li a {
    color: black;
}

div {
    padding: 5px;
    border: 1px solid tomato;
}

div.column {
    float: left;
    height: 200px;
}

div.side {
    width: 15%;
    background-color: darkmagenta;
}

div.main {
    width: 70%;
    background-color: springgreen;
    text-align: center;
}

footer {
    padding: 5px;
    border: 1px solid tomato;
    clear: both;
    background-color: gray;
}