/* style.css */

body {
    background-color: bisque;
}

table {
    width: 500px;
    border: 5px solid black;
}

thead {
    background: pink;
}

th.next {
        background: rgb(252, 82, 110);
        color: white;
    }

tfoot {
    background: hotpink;
}

td, th {
    border: 1px solid black;
}
