/* style.css */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: Pink;
    overflow: hidden;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: Black;
    padding: 10px;
    float: left;
}

li a:hover {
    background: DeepPink;
    color: White;
}

