/* style.css */
body {
    text-align: center;
    background: lightcyan;
    width: 100%;
}

header {
    background: lightslategray;
}

#content-1 {
    display: inline-block;
    width: 50%;
    background: cornflowerblue;
}

#content-1-h2 {
    background: lightsteelblue;
}

#content-2 {
    display: inline-block;
    width: 50%;
    background: palegreen;
}

#content-2-h2 {
    background: lightpink;
}

aside p {
    color: white;
    background: blue;
}
