/* style.css */

body {
    background-color: burlywood;
    font-size: 4vw;
}

p.lg {
    font-size: 1.5em;
}

p.sm {
    font-size: 0.6em;
    font-family: sans-serif;
}

p.huge {
    font-size: 200%;
    font-weight: bold;
}
