/* style.css */

body {
    background-color: rgb(245, 212, 164);
}

#front-stack {
    float: left;
    margin-top: 0px;
}

#back-stack {
    float: right;
    margin-top: 0px;
}

.reference {
    color: red;
    font-weight: bold;
}

p:first-letter {
    font-size: xx-large;
}
